<!-- displaying a flash message -->
<%- messages() %>

<div id="management-account">
    <h1><%- title %></h1>
    <!-- How to get ${account_firstname} in the h2 -->
    <h2>Welcome</h2> 
    <p>You're logged in.</p>
    <a href="/account/">Edit Account Information</a>
</div>