<%- messages() %>

<div id="login-form">
    <h1><%- title %></h1>
    <form class="form-container" method="get" action="">
        <fieldset>
            <label class="form-label" >Email:
                <input type="email" id="email" name="account_email" required>
            </label>

            <label class="form-label">Password:
                <input type="password" id="password" name="account_password" required>
            </label>
            <p class="p-text">Passwords must be minimum of 12
                characters and include 1 capital letter,
                1 number and 1 special character.</p>
        </fieldset>
        <button class="submitBtn" type="submit" onclick="solve()">LOGIN</button>
    </form>
    <p class="signUp">No account? <a href="/account/register">Sign-up</a></p>
</div>


