<div id="register-form">
    <form class="form-container" action="/account/register" method="post">
        <p class="required-text">ALL FIELDS ARE REQUIRED</p>
        <fieldset>
            <label class="form-label">First Name:
                <input type="text" name="account_firstname" required>
            </label>

            <label class="form-label">Last Name:
                <input type="text" name="account_lastname" required>
            </label>

            <label class="form-label">Email:
                <input type="email" id="email" name="account_email" required>
            </label>

            <label class="form-label">Password:
                <input type="password" id="password" name="account_password" required>
            </label>
            <p class="p-text">Passwords must be minimum of 12
                characters and include 1 capital letter,
                1 number and 1 special character.</p>
        </fieldset>
        <button class="submitBtn" type="submit" onclick="solve()">Register</button>
    </form>
    <p class="signUp">No account? <a href="/account/register">Sign-up</a></p>
</div>