
<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (checkLogin) { %>
      <a title="Click to log in" href="/account/logout">Logout</a>
      <h2>Welcome <%= locals.accountData.account_firstname %></h2> 
      <a href="/account/"></a>
    <% } else %>  {
      <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
    }
 

  </div>
</header>
