<div id="home-page">
  <section id="welcome">
    <h1>Welcome to CSE Mortors!</h1>
    <div class="car-container">
      <div class="car-text">
        <h2>DMC Delorean</h2>
        <h5>3 Cup holders</h5>
        <h5>Superman doors</h5>
        <h5>Fuzzy dice!</h5>
        <img id="purchase-btn" src="/images/site/own_today.png" alt="buy now" />
      </div>

      <div class="car-img">
        <picture>
          <source media="(min-width:300px) and (max-width:800px)" srcset="/images/vehicles/delorean-tn.jpg" />
          <source media="(min-width:800px)" srcset="/images/vehicles/delorean.jpg" />
          <img class="delorean-img" src="/images/vehicles/delorean.jpg" alt="delorean image" />
        </picture>
      </div>
    </div>
  </section>

  <section id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>

  <section id="upgrades">
    <h1>Delorean Upgrades</h1>
    <div class="container-item">
      <div class="item">
        <img class="item-img" src="/images/upgrades/flux-cap.png" alt="item-flux-cap" />
        <a class="item-link" href="#">Flux Capacitor</a>
      </div>

      <div class="item">
        <img class="item-img" src="/images/upgrades/flame.jpg" alt="item-flame" />
        <a class="item-link" href="#">Flame Decals</a>
      </div>

      <div class="item">
        <img class="item-img" src="/images/upgrades/bumper_sticker.jpg" alt="item-sticker" />
        <a class="item-link" href="#">Bumper Stickers</a>
      </div>

      <div class="item">
        <img class="item-img" src="/images/upgrades/hub-cap.jpg" alt="item-hub-cap" />
        <a class="item-link" href="#">Hub Caps</a>
      </div>
    </div>
  </section>
</div>