@media only screen and (min-width: 1000px){

    .siteName {
        font-size: 3rem;
    }
    #tools {
        font-size: 2rem;
    }
    nav{
        padding: 20px;
        font-size: 2rem;
    }
    nav ul li {
        margin: 10px;
    }
    .delorean-img {
        width: 80%;
    }
    #home-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    #welcome {
        grid-column: 1/3;
        grid-row: 1/2;
    }
 
    #reviews {
        margin-left: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #upgrades {
        margin-right: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 30px;
        grid-row: 1/2;
    }
    .car-text {
        padding: 20px;
    }
    #purchase-btn {
        margin-top: 30px;
        width: 100%;
    }
    #reviews ul li {
        margin-left: 20px;
    }
    .item-img {
        height: 90px;
        width: 90px;
        padding: 20px 70px;
    }
    body {
        background-image: url("/images/site/small_check.jpg");
        font-size: 2rem;
    }
    #wrapper {
        position: absolute;
        border: 20px solid skyblue;
        border-radius: 2rem;
        background-color: white;
        top:20px;
        left: 30px;
        right: 50px;
    }

    #error-title {
        font-size: 3rem;
        margin-left: 20px;
    }

    #error-text {
        margin-left: 20px;
        grid-column: 1/2;
        grid-row: 2/3;  
    }

    #inv-display {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: .5rem;
    }

    #inv-display li img{
        max-width: 350px;
        height: 200px; 
    }
    #inv-display a{
        font-family: var(--paragrap-font);
        font-size: 2rem;
    }
    #single-item-display {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 1rem;
        align-items: center;
        justify-items: center;
      
    }
    .imageBox{
        grid-column: 1/2;
        justify-content: center;
        width: 450px;
        height: auto; 
    }
    .single-item-details {
        grid-column: 2/3;
    }
    
    .form-container{
        font-size: 3rem;
        max-width:  80%;
        margin-left: auto;
        margin-right: auto;
    }
    #login-form h1, #register-form h1 {
        padding: 30px;
        font-size: 5rem;
    }
    
    
    form fieldset {
        padding: 50px;
        margin: 30px;
        background-color: rgb(1, 31, 82);
    
    }
    
    .form-label {
        padding-top: 3rem;
    }
    
    .form-label input, form-label select {
        max-width: 80%;
        background-color: #edecf8;
        padding: 20px;
        font-size: 3rem;
    }
    .submitBtn {
        padding: 30px 50px;
        font-size: 2.5rem;
        margin-top: 30px;
    }
    .signUp, .p-text{
        font-size: 2.5rem;
        padding-top: 2rem;
    }

}