@media only screen and (min-width: 1000px){
    .siteName {
        font-size: 3rem;
    }
    #tools {
        font-size: 2rem;
    }
    nav{
        padding: 20px;
        font-size: 2rem;
    }
    .delorean-img {
        width: 90%;
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    #welcome {
        grid-column: 1/3;
        grid-row: 1/2;
    }
 
    #reviews {
        margin-left: 30px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #upgrades {
        margin-right: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .car-container {
        padding: 20px;
    }
    .car-text {
        font-size: 2rem;
    }

    #purchase-btn {
        margin-top: 30px;
        width: 300px;
    }
    #reviews ul li {
        margin-left: 20px;
        font-size: 2rem;
    }
    .item-img {
        padding: 20px 70px;
    }
    .container-item {
        gap:20px
    }
    .item {
        font-size: 2rem;
    }
    #big-screen-image {
        display:block;
        position: relative;
        height: 1800px;
        width: 100%;
    }

    #wrapper {
        position: absolute;
        border: 20px solid skyblue;
        border-radius: 2rem;
        background-color: white;
        top:30px;
        left: 30px;
        right: 20px;
        padding: 10px;
    }
    footer {
        font-size: 2rem;
    }
}