@media only screen and (min-width: 1000px){

    .siteName {
        font-size: 3rem;
    }
    #tools {
        font-size: 2rem;
    }
    nav{
        padding: 20px;
        font-size: 2rem;
    }
    .delorean-img {
        width: 85%;
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    #welcome {
        grid-column: 1/3;
        grid-row: 1/2;
    }
 
    #reviews {
        margin-left: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #upgrades {
        margin-right: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .car-text {
        padding: 20px;
    }
    #purchase-btn {
        margin-top: 30px;
        width: 100%;
    }
    #reviews ul li {
        margin-left: 20px;
    }
    .item-img {
        height: 90px;
        width: 90px;
        padding: 20px 70px;
    }
    body {
        background-image: url("/images/site/small_check.jpg");
        font-size: 2rem;
    }
    #wrapper {
        position: absolute;
        border: 20px solid skyblue;
        border-radius: 2rem;
        background-color: white;
        top:20px;
        left: 30px;
        right: 50px;
    }
}