:root {
	/*Fonts*/
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
#wrapper {
	padding: 10px;
}
#big-screen-image {
	display: none;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: row;
	padding: 20px;
}

.siteName {
	font-family: var(--heading-font);
	font-size: 1.8rem;
	color: black;
}
.siteName a, #tools a{
	text-decoration: none;
	color: black;
}
#tools {
	font-family: var(--paragrap-font);
	font-size: 1rem;
}

/* Navigation */

nav ul{
	text-align: center;
	display: flex;
	background-color: black;	
}

nav ul li{
    list-style-type: none;
    width: 100%;
	padding: 1rem 1vw;
	font-family: var(--heading-font);
}

nav ul li:hover {
	background-color: skyblue;
}
nav ul li a:hover {
	color: black;
}

nav ul li a{
	text-decoration: none;
	color: aliceblue;

}

/* main */
h1 {
	font-family: var(--heading-font);
	font-size: 1.2rem;
	padding: 20px 0 10px 0;

}
section {
	padding: 10px;
}

/* .car-container {
	padding: 5px;
} */
.car-text {
	background-color: rgb(123 198 228 / 38%);
	position: absolute;
	margin-top: 10px;
}
.delorean-img {
	width: 100%;
	padding: 10px;
}
#purchase-btn {
	width: 100px;
	box-shadow: 1px 1px 10px grey;
	margin-top: 20px;
}
#reviews ul li {
	padding: 5px;
	margin-left: 20px;
}
/* #upgrades {
	
} */
.container-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items:stretch;
}
.item {
	text-align: center;
	margin-bottom: 20px;
}
.item-img {
	height: 70px;
    width: 70px;
	padding: 10px 40px;
	background-color: skyblue;
	border: 1px solid black;
}
footer {
	padding: 20px;
}


/* W03 Assignment */
#error-title {
	color: rgb(4, 137, 190);
	padding: 10px;
}

#error-text {
	font-family: var(--heading-font);	
	padding: 10px;
	color: rgb(235, 4, 4);
}

#class-container {
	font-family: var(--paragrap-font);
	font-size: 1rem;
}
#class-title {
	font-family: var(--heading-font);
	font-size: 1.5rem;
	text-align: center;
}
#class-grid {
	text-align: center;
}
#inv-display li {
	list-style-type: none;
	border: 1px solid grey;
	/* box-shadow: 1px 1px 10px grey; */
	margin: 30px;
}

#inv-display a{
	font-family: var(--paragrap-font);
	font-size: 1rem;
}

.namePrice{
	margin-bottom: 10px;
}
.namePrice hr {
	padding: 1px;
	background-color: black;
}
#inv-display li {
	border-radius: 10px;
}

#inv-display li img{
	border-radius: 10px;
}
#item-container{
	font-family: var(--paragrap-font);
	font-size: 1rem;
	padding: 10px;
}
#item-display li{
	list-style-type: none;
}

.this-title {
	padding-bottom: 10px;
}

.price, .color {
	padding: 10px;
	background-color: rgb(245, 243, 243);
}
.description, .miles {
	padding: 10px;
}

#error-link{
	padding: 10px;
}