:root {
	/*Fonts*/
	--heading-font: 'Inter', sans-serif;
	--paragrap-font: 'PT Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: row;
	padding: 20px;
}

.siteName {
	font-family: var(--heading-font);
	font-size: 2rem;
	color: black;
}
.siteName a, #tools a{
	text-decoration: none;
	color: black;
}
#tools {
	font-family: var(--paragrap-font);
	font-size: 1rem;
}

/* Navigation */

nav ul{
	text-align: center;
	display: flex;
	background-color: black;
	
}

nav ul li{
    list-style-type: none;
    width: 100%;
	padding: 1rem 1vw;
	color: aliceblue;
	font-family: var(--heading-font);
	border: none;
}

/* main */
h1 {
	font-family: var(--heading-font);
	font-size: 1.2rem;
	padding: 10px 0 10px 0;

}
section {
	padding: 10px;
}

/* .car-container {
	padding: 5px;
} */
.car-text {
	color: rgb(14, 148, 201);
	position: absolute;
	background-color: #dce6f591;
	padding: 10px;
}
.delorean-img {
	width: 100%;
	padding: 10px;
}
#purchase-btn {
	width: 100px;
	box-shadow: 1px 1px 10px grey;
}
#reviews ul li {
	padding: 5px;
	margin-left: 20px;
}
/* #upgrades {
	
} */
.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.item {
	text-align: center;
	margin-bottom: 20px;
}
.item-img {
	height: 70px;
    width: 70px;
	padding: 10px 40px;
	background-color: skyblue;
	border: 1px solid black;
}
footer {
	padding: 10px;
}
