<!-- The Content Heading -->
<div id="class-container"><% if (title) { %>
<h1 id="class-title"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<!-- A Message Block -->
<%# messages() %>

<!-- The Inventory Items Display -->
<div id="class-grid"><%- grid %></div>
</div>