<!-- The Content Heading -->
<div><% if (title) { %>
<h1><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<!-- A Message Block -->
<%# messages() %>

<!-- The Inventory Items Display -->
<div><%- grid %></div>
</div>