<!-- The Content Heading -->
<div id="item-container"><% if (title) { %>
    <h1 id="item-tile"><%= title %></h1>
    <% } else {
          res.redirect('/')
    } %>
    
    <!-- A Message Block -->
    <%# messages() %>
    
    <!-- The Inventory Items Display -->
    <div id="item-grid"><%- grid %></div>
</div>